<html>
    <head></head>
    <body>
        <header>
            
                <div class="navItems">Home</div>
                <div class="navItems">Contacts</div >
                <div class="navItems">Info</div>

            
        </header>
        <div class="caro">
            <div class="list">
                <div class="item">
                    
                    <img src="../../../assets/Images/1.jpg" alt="">
                    <div class="content">
                        <div class="name">Food Name</div>
                        <div class="desc">food description; Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint dolore ut unde, atque minus sed molestias eum nam eveniet, ullam illo dolores. Quasi atque corrupti non dicta minima quisquam alias?</div>
                        <div class="buttons">
                            <button>See More</button>
                            <button>Subscribe</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    
                    <img src="../../../assets/Images/2.jpg" alt="">
                    <div class="content">
                        <div class="name">Food Name</div>
                        <div class="desc">food description; Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint dolore ut unde, atque minus sed molestias eum nam eveniet, ullam illo dolores. Quasi atque corrupti non dicta minima quisquam alias?</div>
                        <div class="buttons">
                            <button>See More</button>
                            <button>Subscribe</button>
                        </div>
                    </div>
                </div>                <div class="item">
                    
                    <img src="../../../assets/Images/3.jpg" alt="">
                    <div class="content">
                        <div class="name">Food Name</div>
                        <div class="desc">food description; Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint dolore ut unde, atque minus sed molestias eum nam eveniet, ullam illo dolores. Quasi atque corrupti non dicta minima quisquam alias?</div>
                        <div class="buttons">
                            <button>See More</button>
                            <button>Subscribe</button>
                        </div>
                    </div>
                </div>                <div class="item">
                    
                    <img src="../../../assets/Images/4.jpg" alt="">
                    <div class="content">
                        <div class="name">Food Name</div>
                        <div class="desc">food description; Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint dolore ut unde, atque minus sed molestias eum nam eveniet, ullam illo dolores. Quasi atque corrupti non dicta minima quisquam alias?</div>
                        <div class="buttons">
                            <button>See More</button>
                            <button>Subscribe</button>
                        </div>
                    </div>
                </div>                <div class="item">
                    
                    <img src="../../../assets/Images/5.jpg" alt="">
                    <div class="content">
                        <div class="name">Food Name</div>
                        <div class="desc">food description; Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint dolore ut unde, atque minus sed molestias eum nam eveniet, ullam illo dolores. Quasi atque corrupti non dicta minima quisquam alias?</div>
                        <div class="buttons">
                            <button>See More</button>
                            <button>Subscribe</button>
                        </div>
                    </div>
                </div>                <div class="item">
                    
                    <img src="../../../assets/Images/6.jpg" alt="">
                    <div class="content">
                        <div class="name">Food Name</div>
                        <div class="desc">food description; Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint dolore ut unde, atque minus sed molestias eum nam eveniet, ullam illo dolores. Quasi atque corrupti non dicta minima quisquam alias?</div>
                        <div class="buttons">
                            <button>See More</button>
                            <button>Subscribe</button>
                        </div>
                    </div>
                </div>                <div class="item">
                    
                    <img src="../../../assets/Images/7.jpg" alt="">
                    <div class="content">
                        <div class="name">Food Name</div>
                        <div class="desc">food description; Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint dolore ut unde, atque minus sed molestias eum nam eveniet, ullam illo dolores. Quasi atque corrupti non dicta minima quisquam alias?</div>
                        <div class="buttons">
                            <button>See More</button>
                            <button>Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>